@font-face {
	font-family: 'Goodwill-Omaha-Icons';
	src:url('fonts/icomoon.eot?aezggd');
	src:url('../fonts/icomoon.eot?#iefixaezggd') format('embedded-opentype'),
		url('https://cweltonsmith.github.io/goodwill/loginSite/Content/fonts/icomoon.woff?aezggd') format('woff'),
		url('../fonts/icomoon.ttf?aezggd') format('truetype'),
		url('../fonts/icomoon.svg?aezggd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Goodwill-Omaha-Icons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gw_Career_Services:before {
	content: "\e667";
}
.icon-gw_YouTube:before {
	content: "\e600";
}
.icon-gw_YouthBuild:before {
	content: "\e601";
}
.icon-gw_WorkAtGoodwill:before {
	content: "\e602";
}
.icon-gw_Web:before {
	content: "\e603";
}
.icon-gw_WearHouseLocation:before {
	content: "\e604";
}
.icon-gw_Weapons:before {
	content: "\e605";
}
.icon-gw_WateringPlant:before {
	content: "\e606";
}
.icon-gw_Veterans:before {
	content: "\e607";
}
.icon-gw_Up:before {
	content: "\e608";
}
.icon-gw_Twitter:before {
	content: "\e609";
}
.icon-gw_Trash:before {
	content: "\e60a";
}
.icon-gw_TrashRemoval:before {
	content: "\e60b";
}
.icon-gw_ToysGames:before {
	content: "\e60c";
}
.icon-gw_Teaching:before {
	content: "\e60d";
}
.icon-gw_TaxInfo:before {
	content: "\e60e";
}
.icon-gw_TapeMeasure:before {
	content: "\e60f";
}
.icon-gw_SportsEquipment:before {
	content: "\e610";
}
.icon-gw_Shop:before {
	content: "\e611";
}
.icon-gw_ServeNebraska:before {
	content: "\e612";
}
.icon-gw_SeasonalItems:before {
	content: "\e613";
}
.icon-gw_Right:before {
	content: "\e614";
}
.icon-gw_RetailLocation:before {
	content: "\e615";
}
.icon-gw_RePack:before {
	content: "\e616";
}
.icon-gw_Ready:before {
	content: "\e617";
}
.icon-gw_PressureWashing:before {
	content: "\e618";
}
.icon-gw_PostalService:before {
	content: "\e619";
}
.icon-gw_Plumbing:before {
	content: "\e61a";
}
.icon-gw_Phone:before {
	content: "\e61b";
}
.icon-gw_PersonalCareItems:before {
	content: "\e61c";
}
.icon-gw_Partnership:before {
	content: "\e61d";
}
.icon-gw_Painting:before {
	content: "\e61e";
}
.icon-gw_OutsourceSolutions:before {
	content: "\e61f";
}
.icon-gw_OutdoorItems:before {
	content: "\e620";
}
.icon-gw_OutdoorFurnishings:before {
	content: "\e621";
}
.icon-gw_OmahaGives:before {
	content: "\e622";
}
.icon-gw_OfficeEqmt:before {
	content: "\e623";
}
.icon-gw_News:before {
	content: "\e624";
}
.icon-gw_MOving:before {
	content: "\e625";
}
.icon-gw_Misc:before {
	content: "\e626";
}
.icon-gw_MiscVehicles:before {
	content: "\e627";
}
.icon-gw_MessengerPigeons:before {
	content: "\e628";
}
.icon-gw_Locations:before {
	content: "\e629";
}
.icon-gw_Left:before {
	content: "\e62a";
}
.icon-gw_Justice:before {
	content: "\e62b";
}
.icon-gw_Jewelry:before {
	content: "\e62c";
}
.icon-gw_Housewares:before {
	content: "\e62d";
}
.icon-gw_HouseholdItems:before {
	content: "\e62e";
}
.icon-gw_HouseholdChemicals:before {
	content: "\e62f";
}
.icon-gw_HireGoodwill:before {
	content: "\e630";
}
.icon-gw_HeartlandWorkforceSolutions:before {
	content: "\e631";
}
.icon-gw_HeartlandWorkforceSolutionsVertical:before {
	content: "\e632";
}
.icon-gw_HazardousWaste:before {
	content: "\e633";
}
.icon-gw_Handicap:before {
	content: "\e634";
}
.icon-gw_HandTools:before {
	content: "\e635";
}
.icon-gw_Growth:before {
	content: "\e636";
}
.icon-gw_GroundMaintenance:before {
	content: "\e637";
}
.icon-gw_Green:before {
	content: "\e638";
}
.icon-gw_GreenCare:before {
	content: "\e639";
}
.icon-gw_GovernmentServices:before {
	content: "\e63a";
}
.icon-gw_GooodwillLocationLogo:before {
	content: "\e63b";
}
.icon-gw_GoodwillCard:before {
	content: "\e63c";
}
.icon-gw_GoodBytesLocation:before {
	content: "\e63d";
}
.icon-gw_Giftware:before {
	content: "\e63e";
}
.icon-gw_Furniture:before {
	content: "\e63f";
}
.icon-gw_FourSquare:before {
	content: "\e640";
}
.icon-gw_FindEmployment:before {
	content: "\e641";
}
.icon-gw_Fax:before {
	content: "\e642";
}
.icon-gw_Family:before {
	content: "\e643";
}
.icon-gw_Facebook:before {
	content: "\e644";
}
.icon-gw_ExerciseEqmt:before {
	content: "\e645";
}
.icon-gw_Email:before {
	content: "\e646";
}
.icon-gw_ElectronicEntertainment:before {
	content: "\e647";
}
.icon-gw_Elderly:before {
	content: "\e648";
}
.icon-gw_DownloadDocument:before {
	content: "\e649";
}
.icon-gw_Down:before {
	content: "\e64a";
}
.icon-gw_DonationPodLocation:before {
	content: "\e64b";
}
.icon-gw_DonationPickup:before {
	content: "\e64c";
}
.icon-gw_DonationLocation:before {
	content: "\e64d";
}
.icon-gw_DonationGuide:before {
	content: "\e64e";
}
.icon-gw_Donate:before {
	content: "\e64f";
}
.icon-gw_DonateMoney:before {
	content: "\e650";
}
.icon-gw_Domestics:before {
	content: "\e651";
}
.icon-gw_Disability:before {
	content: "\e652";
}
.icon-gw_CustomerConnect:before {
	content: "\e653";
}
.icon-gw_Conversation:before {
	content: "\e654";
}
.icon-gw_Construction:before {
	content: "\e655";
}
.icon-gw_Computer:before {
	content: "\e656";
}
.icon-gw_ComputerUse:before {
	content: "\e657";
}
.icon-gw_ComputerRecycling:before {
	content: "\e658";
}
.icon-gw_CommercialCleaning:before {
	content: "\e659";
}
.icon-gw_CoffeeLocation:before {
	content: "\e65a";
}
.icon-gw_Clothing:before {
	content: "\e65b";
}
.icon-gw_Calendar:before {
	content: "\e65c";
}
.icon-gw_Books:before {
	content: "\e65d";
}
.icon-gw_Blog:before {
	content: "\e65e";
}
.icon-gw_Art:before {
	content: "\e65f";
}
.icon-gw_Appliances:before {
	content: "\e660";
}
.icon-gw_Antiques:before {
	content: "\e661";
}
.icon-gw_Announcement:before {
	content: "\e662";
}
.icon-gw_Americorps:before {
	content: "\e663";
}
.icon-gw_Accessories:before {
	content: "\e664";
}
.icon-gw_AbilityOne:before {
	content: "\e665";
}
.icon-gw_99Reserve:before {
	content: "\e666";
}
.icon-search:before {
	content: "\f002";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-bars:before {
	content: "\f0c9";
}
